@import "bootstrap-sprockets";
@import "bootstrap";

.item {
  height: 540px;
  // width: 500px;
}

.col-lg-4 {
  text-align: center;
}

.carousel-pictures {
  img   {
  height: 1000px;
  align-content: center;
  }
}

iframe {
  padding-right: 100px;
}

h1 {
  padding-bottom: 40px;
}
