@import "bootstrap-sprockets";
@import "bootstrap";

.item {
  height: 540px;
  // width: 500px;
}

.col-lg-4 {
  text-align: center;
}

.carousel-pictures {
  img   {
  height: 1000px;
  align-content: center;
  }
}

iframe {
  padding-right: 100px;
}

h1 {
  padding-bottom: 300px;
  color: white;
   text-shadow:
   -2px -2px 0 #000,
   2px -2px 0 #000,
   -2px 2px 0 #000,
   2px 2px 0 #000;
  display: inline-block;
  font-size: 54px;
}
